@use '../../styles/partials/function' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.edit-collection {

    &__header-container {
        display: flex;
        align-items: center;
        width: 100%;
        border-bottom: 1px solid $general-border;
    }

    &__header-link {
        padding: toRem(24) toRem(6) toRem(16) 0;
        align-self: center;
        
        @include tablet {
            padding: toRem(36) toRem(6) toRem(24) 0;
        }
    }

    &__title {
        @include card-about-header-stack;
        border: none;
        width: 100%;
    
        @include tablet {
            font-size: $responsive-card-about-header;
            padding: toRem(36) 0 toRem(24);
        }
    }
}

.edit-collection-album {
    @include list-item-stack;
    border-bottom: none;

    @include mobile-large {
        flex-direction: row;
    }
    
    @include tablet {
        padding: $responsive-component-pad;
        width: 100%;
    }

    &__container {
        @include mobile-large {
            padding: 0 toRem(12);
            width: 100%;
        }

        @include tablet {
            display: flex;
            flex-direction: column;
            padding: 0 $responsive-component-pad;
        }
    }
    
    &__img-container {
        padding-bottom: toRem(16);
    }

    &__img {
        width: toRem(150);
        height: toRem(150);
        object-fit: cover;

        @include tablet {
            width: toRem(200);
            height: toRem(200);
        }
    }
    
    &__info {
        display: flex;
        padding-bottom: toRem(6);

        @include tablet {
            padding-bottom: toRem(14);
        }
    }

    &__title {
        font-size: $card-body;
        font-weight: $bold;
        padding-right: toRem(6);

        @include tablet {
            font-size: $responsive-card-body;
        }
    }

    &__paragraph {
        font-size: $card-body;

        @include tablet {
            font-size: $responsive-card-body;
        }
    }
}

.edit-collection-form {
    display: flex;
    flex-direction: column;
    width: 100%;

    &__group {
        display: flex;
        flex-direction: column;
        padding: toRem(6) 0;
        
        @include tablet {
            width: 100%;
        }

        &:last-child {
            padding: toRem(6) 0;
            align-self: flex-end;
        }
    }

    &__label {
        @include label-stack;

        @include tablet {
            font-size: $responsive-labels-form-text;
        }
    }

    &__select {
        @include select-stack;

        @include mobile-large {
            width: toRem(150);
        }

        @include tablet {
            font-size: toRem(14);
        }

        &:focus {
            border: 2px solid $form-focus;
        }

        &--invalid {
            border: 2px solid $error-focus;

            &:focus {
                border: 2px solid $error-focus;
            }
        }
    }

    &__input {
        @include form-input-stack;

        @include mobile-large {
            width: toRem(75);
        }

        @include tablet {
            font-size: $responsive-labels-form-text;
        }

        &:focus {
            border: 2px solid $form-focus;
        }

        &--invalid {
            border: 2px solid $error-focus;

            &:focus {
                border: 2px solid $error-focus;
            }
        }
    }

    &__textarea {
        @include textarea-stack;

        @include tablet {
            font-size: $responsive-labels-form-text;
        }

        &:focus {
            border: 2px solid $form-focus;
        }

        &--invalid {
            border: 2px solid $error-focus;

            &:focus {
                border: 2px solid $error-focus;
            }
        }
    }

    &__buttons {
        padding-top: toRem(6);
        @include tablet {
            align-self: flex-end;
        }
        
    }

    &__button {
        @include button-stack($button);
        width: 100%;
        margin-bottom: toRem(6);
        margin-right: 0;
        transition: background-color 0.3s;

        @include tablet {
            width: toRem(150);
            height: toRem(36);
            margin-left: toRem(6);
            font-size: $responsive-button-text;
        }

        &:hover {
            background-color: $button-hover;
            cursor: pointer;
        }

        &--cancel {
            background-color: $delete-cancel-button;
            color: #FFF;

            &:hover {
                background-color: $delete-cancel-button-focus;
            }
        }
    }
}
