@use '../../styles/partials/function' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.footer {
    background-color: $main-footer;
    display: flex;
    justify-content: center;
    align-items: center;

    &__wrapper {
        padding: toRem(36) 0;
    }

    &__copyright {
        font-size: $footer;
        color: $footer-text;
    }
}